{% extends 'base.html' %}
{% load static %}
{% block title %}Uzrozgor{% endblock title %}

{% block content %}
<main>


    <div class="container-fluid">
        <section class="header_slider">
            <div class="owl-carousel slide3 owl-theme">
                <div class="item"><img src="{% static 'img/banner.jpg' %}" alt=""></div>
                <div class="item"><img src="{% static 'img/banner.jpg' %}" alt=""></div>
                <div class="item"><img src="{% static 'img/banner.jpg' %}" alt=""></div>
            </div>
        </section>
    </div>

    <section class="category">
        <div class="container-fluid">
            <h3>Kategoriyalar:</h3>
            <div class="owl-carousel slide1 owl-theme owl-loaded">
                {% for category in category_list %}
                <div class="item">
                    <a class="category_name" href="{{ category.get_absolute_url }}">
                        <img src="{% if category.cover %}{{category.cover}}{% endif %}" alt="">
                        <h4>{{category.name}}</h4>
                    </a>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>


    <!-- <section class="new">
            <div class="container">
                <h3>Новые товары :</h3>
                <div class="owl-carousel slide2 owl-theme">
                    {% for product in product_list %}
                    {% if product.was_added_recently %}
                    <div class="item">
                        <img src="{{product.image.url}}" alt="">
                        <p>{{product.name}}</p>
                        <h4>{{product.price}} сум</h4>
                        <div class="item_buttons">
                            <a href="{{ product.get_absolute_url }}">Посмотреть</a>
                            
                        </div>
                     </div>
                     {% endif %}
                     {% endfor %}
                     
                </div>
            </div>
        </section> -->


    {% for category in category_list %}
    <section class="new">
        <div class="container-fluid">
            <h3>{{category.name}}:</h3>
            <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    {% for product in category.products.all %}
                    <div class="swiper-slide">
                        <div class="slide">
                            <div class="item">
                                <img src="{% if product.image %}{{product.image}}{% endif %}" alt="">
                                <p>{{product.name}}</p>
                                <h4>{{ product.price }} so'm</h4>
                                <div class="item_buttons">
                                    <a href="{{ product.get_absolute_url }}">Batafsil</a>
                                </div>
                                <div class="dropdown_div">
                                    <form action="{% url "cart:cart_add" product.id %}" method="post">
                                        {% csrf_token %}
                                        {{ cart_product_form }}
                                        <select name="quantity" class="form-control" id="id_quantity">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        <h5>{{product.measurement}}</h5>
                                        <input type="hidden" name="update" value="False" id="id_update">
                                        <input type="submit" value="xaridga qo'shish">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- If we need pagination -->

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"><img src="{% static 'img/left-arrow.png' %}" alt=""></div>
                <div class="swiper-button-next"><img src="{% static 'img/right-arrow.png' %}" alt=""></div>

                <!-- If we need scrollbar -->
                <div class="swiper-scrollbar"></div>
            </div>
        </div>
    </section>
    {% endfor %}
</main>
{% endblock content %}